@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f2f2f2; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
    font-weight: 300;
    font-size: 55px;
}

.task-form {
    margin-bottom: 20px;
}

#task-name {
    background: transparent;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 90%;
    padding: 0px 20px;
    font-size: 16px;
    color: #333; 
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.89), 6px 6px 10px rgba(0, 0, 0, 0.219), inset -6px -6px 10px rgba(255, 255, 255, 0.5), inset 6px 6px 10px rgba(0, 0, 0, 0.041);
}

#task-form {
    display: flex;
    gap: 10px;
}

button {
    background-color: #2480d1; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: -6px -6px 10px rgba(96, 154, 221, 0.178), 6px 6px 10px rgba(114, 158, 223, 0.205), inset -6px -6px 10px rgba(96, 154, 221, 0.616), inset 6px 6px 10px rgba(144, 179, 231, 0.459);
}

button:hover {
    background-color: #4a8ac9; 
    transform: scale(1.1);
    
}

.task-list ul {
    list-style: none;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #333;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.664), 6px 6px 10px rgba(0, 0, 0, 0.068), inset -6px -6px 10px rgba(255, 255, 255, 0.219), inset 6px 6px 10px rgba(0, 0, 0, 0);
}

li .tasks-check{
    display: flex;
}

ul li input{
    margin-right: 16px;
}   

ul li:hover{
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.651), 6px 6px 10px rgba(0, 0, 0, 0.062), inset -6px -6px 10px rgba(255, 255, 255, 0.144), inset 6px 6px 10px rgba(0, 0, 0, 0.041); 
}

.task-completed {
    text-decoration: line-through;
    color: #888; 
}

.remove-task{
    background-color: rgb(65, 202, 11);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.remove-task:hover{
    background-color: rgb(51, 156, 10);
    transform: scale(1.1);
}

.msgError{
    color: red;
    margin-top: 15px;
    font-weight: 600;
    font-size: 16px;
}